@page "/dashboard"

<h3>Dashboard</h3>

<div class="row">
    <div class="col-md-3">
        <div class="card p-3">
            <h5>Total Jobs</h5>
            <p>0</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h5>Applied</h5>
            <p>0</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h5>Interview</h5>
            <p>0</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h5>Offer</h5>
            <p>0</p>
        </div>
    </div>
</div>