@inherits LayoutComponentBase

<div class="sidebar">
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/jobs">Jobs</a>
</div>


<div class="main">
    @Body
</div>
