@* @inherits LayoutComponentBase

<div class="app-shell">
   

    <main class="main-content">
        <NavMenu />
        <div class="top-bar">
            <h2 class="page-title">OfferPath</h2>
            <span class="page-subtitle">Dashboard</span>
        </div>

        <div class="content-area">
            @Body
        </div>
    </main>
</div>
 *@

@inherits LayoutComponentBase

<div class="app-shell">
    <main class="main-content">
        <NavMenu />

        <div class="content-area">
            @Body
        </div>
    </main>
</div>