<div class="nav-item px-3">
    <NavLink class="nav-link" href="">
        <span class="bi bi-house-door-fill-nav-menu"></span> Home
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="login">
        Login
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="register">
        Register
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="dashboard">
        Dashboard
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="jobs">
        Jobs
    </NavLink>
</div>